# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/

# mypy
.mypy_cache/
.dmypy.json

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Mac OS files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.swp
*~
